.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    background-color: #d50000;
  }
  
  .signup-card {
    max-width: 350px;
    text-align: center;
    animation: fadein 1s;
  }
  
  v-progress-circular {
    width: 25px;
    height: 25px;
    margin: 20px auto 0 auto;
  }
  
  button {
    display: block;
    width: 100%;
  }
  
  .error {
    color: #d50000;
  }
  
  .success {
    color: #8bc34a;
  }
  